.App {
    text-align: center;
}

@font-face {
    font-family: "nemoy";
    src: local("nemoy.light.otf"), url("./fonts/nemoy/nemoy.light.otf") format("truetype");
}

.font-face-gm {
    font-family: "nemoy";
}

@import "~bootstrap/scss/bootstrap";
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.cardWrapper {
    display: grid;
    gap: 16px;
    justify-content: center;
    margin: 5rem;
    grid-template-columns: repeat(auto-fill, 286px);
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}