
.contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: nemoy;
    font-size: 2.5rem;
    color: white;
    margin: 25px;
    text-align: center;
}

.tital{
    margin-bottom: 5rem;
}

.yearSelectorDropdown .dropdown-item{
    color: white;
}
.yearSelectorDropdown .dropdown-item:hover{
    color: black;
}

.yearSelectorDropdown{
    border: 1px solid white;
    background-color: #282c34;
}

.chartWrapper{
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    padding: 10px;
}
.chart{
    font-size: 1rem;
}

